.navbar-brand{
  display: inline;
  align-items: center;
}

.navbar-custom {
  border-top: 7px solid #af6b6a;
  display: inline-block;
  text-align: center;
  background-color: #af6b6a10;
}

main{
  margin-bottom: 20px;
}

.fixed-bottom{
  border-top: 3px solid #af6b6a;
  text-align: center;
  background-color: #af6b6a10;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #af6b6a;

}

.fixed-bottom a{
  font-size: 10px;
  color: #af6b6a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.fixed-bottom .col a{
  font-size: larger;
}

.fixed-bottom .col{
  margin-bottom: 15px;
}
  .botao-navbar-custom {
    position: fixed;
    left: 30px;
    top: 30px;
    background: #af6b6a10;
  }
  
.navbar-custom .navbar-brand.logo {
  color: #af6b6a;
  font-size: 30px;
}

.navbar-custom .navbar-brand.logo img {
  border-radius: 10px;
  margin: 0px 10px 0 10px;
  width: 80px;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  margin-left: 30px;
}

.navbar-custom .nav-link {
  color: #af6b6a;
  font-size: larger;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #af6b6a;
}

.navbar-custom .nav-item.active .nav-link {
  color: #af6b6a;
}

@media (min-width: 992px) {
  .navbar-collapse {
      display: block !important;
  }


  .navbar-custom .nav-item:not(:last-child) {
      margin-right: 30px;
  }
}


.carousel-item{
  border-top: 2px solid #af6b6a;
  background-color: #af6b6a44;
  ;
}

.carousel-item img{
  height: 400px;
  padding: 15px;
}
.carousel {
  margin-top: 125px; 
}

@media (max-width:1050px){

  .carousel {
    margin-top: 145px; 
  }
}



@media (max-width:992px){

  .navbar-nav {
    flex-direction: column;
    text-align: left;
}
  .fixed-top{
    position: unset;
    width: 100%;
  }
  .carousel {
    margin-top: 0px; 
  }
}