.fixed-bottom{
  text-align: center;
  background-color: black;
  color: white;
}

.fixed-bottom a{
  font-size: 10px;
  color: white;
}

.fixed-bottom .col a{
  font-size: larger;
}

.fixed-bottom .col{
  margin-bottom: 15px;
}
.fixed-bottom img{

}

